<div class="container">
	<div class="row">
		<div class="col-md-4 offset-md-4 mt-5">
			<h3 class="text-center pb-3">PROJECT UAT</h3>
			<form>
				<div class="form-group">
					<label>ID Project</label>
					<input type="text" name="idproject" class="form-control" [value]="id" readonly>
				</div>

				<div class="form-group">
					<label>Nama Project</label>
					<input type="text" name="nama" class="form-control">
				</div>

				<div class="form-group">
					<label>Versi</label>
					<input type="text" name="versi" class="form-control">
				</div>				

				<div class="form-group">
					<label>Tanggal</label>
					<input type="date" name="tgl" class="form-control">
				</div>

				<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Username</label>
						<input type="text" name="user" class="form-control">
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label>Password</label>
						<input type="password" name="pass" class="form-control">
					</div>
				</div>
				</div>

				<div class="form-group">
					<label>Tester</label>
					<input type="text" name="tester" class="form-control">
				</div>
				<button type="submit" name="kirim" class="btn btn-success">SUBMIT</button>
			</form>
		</div>
	</div>
</div>